node_modules/
# Ignore package.json
package.json

# Ignore package-lock.json
package-lock.json

# Ignore .eslintric.js
.eslintrc.js
#Ignore babel.config.js
babel.config.js
#Ignore datbase.csv
database.csv